<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @idea.image %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @idea.stage %>
</p>

<p>
  <strong>Looking for:</strong>
  <%= @idea.looking_for %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
