<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @first_name.last_name %>
</p>

<p>
  <strong>Maiden name:</strong>
  <%= @first_name.maiden_name %>
</p>

<p>
  <strong>Formatted name:</strong>
  <%= @first_name.formatted_name %>
</p>

<p>
  <strong>Phonetic first name:</strong>
  <%= @first_name.phonetic_first_name %>
</p>

<p>
  <strong>Phonetic last name:</strong>
  <%= @first_name.phonetic_last_name %>
</p>

<p>
  <strong>Formatted phonetic name:</strong>
  <%= @first_name.formatted_phonetic_name %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @first_name.headline %>
</p>

<p>
  <strong>Location:</strong>
  <%= @first_name.location %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @first_name.industry %>
</p>

<p>
  <strong>Current share:</strong>
  <%= @first_name.current_share %>
</p>

<p>
  <strong>Num connections:</strong>
  <%= @first_name.num_connections %>
</p>

<p>
  <strong>Num connections capped:</strong>
  <%= @first_name.num_connections_capped %>
</p>

<p>
  <strong>Sumary:</strong>
  <%= @first_name.sumary %>
</p>

<p>
  <strong>Specialties:</strong>
  <%= @first_name.specialties %>
</p>

<p>
  <strong>Positions:</strong>
  <%= @first_name.positions %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @first_name.picture_url %>
</p>

<p>
  <strong>Picture url original:</strong>
  <%= @first_name.picture_url_original %>
</p>

<p>
  <strong>Site standard profile request:</strong>
  <%= @first_name.site_standard_profile_request %>
</p>

<p>
  <strong>Api standard profile request:</strong>
  <%= @first_name.api_standard_profile_request %>
</p>

<p>
  <strong>Public profile url:</strong>
  <%= @first_name.public_profile_url %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @first_name.email_address %>
</p>

<%= link_to 'Edit', edit_first_name_path(@first_name) %> |
<%= link_to 'Back', first_names_path %>
